<!DOCTYPE html>
<html>
<head>
    <title>Cloud Timer</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/bulma.css" rel="stylesheet" media="screen">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="description" content="An application that allows users to create their own cloud-synced countdown timers using websockets and ruby.">
</head>
<body>
	<%= yield %>
	<script type="text/javascript" src="assets/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="assets/js/application.js"></script>
</body>
</html>